@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1700px)
  .menu li
    margin: 0 30px 0 0

  .shops-box
    padding: 0 10px

@media only screen and (max-width : 1550px)
  .menu
    margin: 0 auto
    li
      margin: 0 20px 0 0
      a
        font-size: 20px

  header
    .logo
      margin: 0

  .list-social
    margin: 0

  .dropdown-wrapper-schedule
    margin: 0 auto

  .logo
    max-width: 190px

  .shops-box__img
    height: 250px

  .shops-slider .slick-arrow
    height: 250px

  footer
    margin: -160px 0 0
    &:before
      height: 280px

  .footer-box a, .footer-box .address-footer
    font-size: 16px


  footer .list-social
    li
      margin: 0 14px 0 0

  .menu-footer li a
    font-size: 16px

  .address
    margin: 0

  .callback-section__content
    margin: 0 30px 0 0

  .news-box__hidden
    font-size: 14px
    .line
      margin: 15px 0 0
    h3
      font-size: 20px

  .about-slider__box
    min-height: 800px
    max-height: 800px

@media only screen and (max-width : 1350px)
  .news-box-col .news-box__hidden
    font-size: 16px
    padding: 20px
    h3
      font-size: 24px
      margin: 0 0 20px
    .date, .links
      font-size: 14px

@media only screen and (max-width : 1300px)
  .callback-section__content
    margin: 0 auto 0 0
    max-width: 510px

  footer .logo
    margin: 0 30px 0 0

@media only screen and (max-width : 1200px)
  .logo
    max-width: 110px

  .list-social li a
    width: 26px
    height: 26px

  .menu
    li
      margin: 0 10px 0 0
      a
        font-size: 18px

  .tabs__caption li
    font-size: 16px
    margin: 0 20px 0 0

  .shops-slider:before
    width: 117px
    height: 117px
    bottom: -25px

  .btn-scroll-top
    bottom: 20px

  footer
    padding: 70px 0 25px
    &:before
      height: 200px

  .menu-footer
    li
      a
        font-size: 14px

  .footer-box a, .footer-box .address-footer
    font-size: 14px

  .dropdown-box:before
    border-left: 12px solid transparent
    border-right: 12px solid transparent
    border-bottom: 12px solid #fff
    top: -12px

  .dropdown-box
    left: 50%
    transform: translate(-50%,0)

  .submenu
    font-size: 16px

  .callback-section__content
    margin: 0 0 20px
    max-width: none
    text-align: center

  .form
    width: 100%
    justify-content: center

  .callback-section
    padding: 60px 0 180px

  .news-box__hidden
    padding: 15px
    .box-text
      max-height: 60px
      overflow: hidden

  .about-slider__box
    min-height: 600px
    max-height: 600px

  .about .box-text
    font-size: 30px
    line-height: normal
    p
      margin: 0 0 30px

  .news-box-value
    font-size: 16px

  .news-page
    h2
      margin: 0 0 30px

  .score-page .box-text
    margin: 40px 0 0
    font-size: 24px

  .score-page__info-box
    margin: 0 0 30px

  .btn-next
    margin: 40px 0 0

  .floor
    margin: 16px auto 40px

  .news-page-section
    h1
      font-size: 40px
      margin: 0 auto 30px
    .box-text
      font-size: 24px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  header
    .menu
      display: none
    .list-social
      margin: 0 auto
    .logo
      margin: 0

  .btn-burger
    display: flex

  .header-center
    .container
      align-items: center

  .header-box
    font-size: 16px

  .tabs__content
    margin: 30px 0 0

  .links-red
    font-size: 16px

  .shops
    margin: 0 0 50px

  .col-4
    width: 50%


  .btn-scroll-top
    width: 50px
    height: 50px
    right: 20px
    padding: 10px

  .menu-footer
    display: none

  footer
    padding: 50px 0 20px
    margin: -30px 0 0


  .callback-section
    padding: 40px 0 70px

  .about-slider__box
    min-height: 450px
    max-height: 450px

  h1
    font-size: 60px
    line-height: normal

  .breadcrumbs
    margin: 20px 0

  .col-3
    width: 50%

  .news-page-section
    margin: 0 0 50px
    .box-text
      font-size: 20px
      p
        margin: 0 0 20px
    .score-page__banner
      margin: 0 0 30px

  .score-page__banner
    height: 400px

/* Small Devices, Tablets */
@media only screen and (max-width : 860px)
  .tabs .links-all
    margin: 20px auto 0

  .tabs__caption
    width: 100%

  .callback-section__content
    max-width: none
    margin: 0 auto 30px
    font-size: 18px
    text-align: center
    h3
      font-size: 24px

@media only screen and (max-width : 768px)
  .shops .container:before
    width: 117px
    height: 117px

  .tabs__caption
    justify-content: space-around
    li
      margin: 0 0 5px
      &:last-child
        margin: 0 0 5px


  .btn, input, .checkbox
    font-size: 16px

  .about-slider__box
    min-height: 350px
    max-height: 350px

  h1
    font-size: 40px
    margin: 0 auto 30px

  .about-slider-preview
    margin: 30px 0 40px

  .about
    .box-text
      font-size: 20px

  .score-page
    .box-text
      font-size: 18px

  .news-page
    margin: 40px 0
    h2
      font-size: 30px

  .floor
    margin: 16px 0 30px

  .score-page__img
    max-width: none
    width: 100%
    margin: 30px 0 0

  .score-page__info-box
    font-size: 16px
    margin: 0 0 20px

  .floor
    font-size: 24px

  .btn-next .btn-icon
    width: 26px
    height: 11px

  .score-logo
    height: 200px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 670px)
  .form
    .form-group
      width: 100%
      margin: 0
      align-items: center
    label
      width: 100%

  .consent
    max-width: none
    justify-content: center
    .checkbox
      margin: 0
      justify-content: center

@media only screen and (max-width : 575px)
  .header-box
    font-size: 14px

  .header-box__icon
    margin: 0 10px 0 0

  .slick-slider
    padding: 0 20px

  .slick-arrow
    width: 20px
    padding: 0 2px

  .shops-box__img, .shops-slider .slick-arrow
    height: 200px

  .shops-box
    padding: 0
    max-width: none

  .tenants-box
    max-width: none
    height: 180px

  .tenants .container:before
    width: 117px
    height: 117px

  .callback-section
    padding: 40px 0 100px

  footer
    margin: -50px 0 0
    &:before
      height: 180px
    .logo
      margin: 0
      max-width: 140px

  .about-slider__box
    min-height: 260px
    max-height: 260px

  .about-slider-preview
    padding: 0

  .about-slider-preview__box
    width: 90px
    height: 90px

  .col-3
    width: 100%

  .news-box-value
    width: 100%
    position: relative
    right: 0
    top: 0
    text-align: center
    transform: none
    order: -1
    margin: 0 auto 10px

  .load-more
    font-size: 18px

  .news-box-col
    margin: 0 0 20px
    .news-box
      max-height: 300px

  .news-section
    margin: 0 0 40px

  .news-page-section
    h1
      font-size: 30px
    .btn-next
      height: 43px
    .box-text
      font-size: 18px

  .score-page__banner
    height: 280px

@media only screen and (max-width : 480px)
  header
    .schedule
      display: none

  .col-4
    width: 100%

  .footer-box a, .footer-box .address-footer
    font-size: 12px

  footer
    padding: 30px 0 10px
    margin: 0
    &:before
      height: 260px
      width: 1100px
    .list-social
      margin: 10px auto 0
      width: 100%
      order: 1
      justify-content: center
    .container
      justify-content: space-between
    .logo
      margin: 0

  .about-slider__box
    min-height: 180px
    max-height: 180px

  .about
    .box-text
      font-size: 18px
      text-align: left
      p
        margin: 0 0 20px

  h1
    font-size: 30px

  .breadcrumbs-list
    font-size: 16px
    li
      a
        &:before
          margin: 3px 10px
    
/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .header-box
    font-size: 12px

  .links-call .header-box__icon
    margin: 0 10px 0 0

  .header-top
    padding: 10px 0

  .btn-scroll-top
    width: 40px
    height: 40px

  footer
    .logo
      max-width: 130px

@media only screen and (max-width : 320px)
	/**/

