@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

.container
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  position: relative
  max-width: 1850px
  width: 100%
  padding: 0 15px

.fill-none
  fill: #fff

.icon-svg
  width: 100%
  height: 100%
  display: inline-block

//header
.header-center
  padding: 10px 0 12px

.logo
  max-width: 205px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 0 167px 0 35px

.links-call
  margin: 0 0 0 auto
  letter-spacing: 0.18em
  font-size: 18px
  font-weight: bold
  color: #fff

  .header-box__icon
    width: 19px
    height: 16px
    margin: 0 12px 0 0

.header-top
  padding: 12px 0 10px
  background: #E30613
  color: #fff

.header-box
  display: flex
  align-items: center
  font-size: 18px
  letter-spacing: 0.18em
  font-weight: bold

.header-box__icon
  margin: 0 16px 0 0

.schedule
  margin: 0 72px 0 408px

  .header-box__icon
    width: 18px
    height: 18px

.address
  .header-box__icon
    width: 18px
    height: 21px

.menu
  display: flex
  align-items: center
  flex-wrap: wrap

  li
    margin: 0 60px 0 0

    &:last-child
      margin: 0

    a
      letter-spacing: 0.18em
      font-size: 18px
      font-weight: bold
      color: #E30613

      &:hover
        color: #000

.list-social
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 0 0 auto

  li
    margin: 0 15px 0 0

    &:last-child
      margin: 0

    a
      width: 31px
      height: 31px

      .icon-svg
        fill: #E30613
        transition: .3s ease

      &:hover
        .icon-svg
          fill: #2E2E2E


//main
.home
  width: 100%
  margin: 0 0 54px

  img
    width: 100%

.links-red
  text-transform: uppercase
  color: #E30613
  font-size: 18px
  font-weight: bold
  letter-spacing: 0.18em

//news
.tabs__content
  width: 100%
  display: none
  margin: 54px 0 0

.tabs__content.active
  display: flex
  flex-wrap: wrap


.row
  margin: 0 -15px
  display: flex
  flex-wrap: wrap
  align-items: stretch

.col-4
  width: 25%
  padding: 0 15px

.tabs
  width: 100%
  display: flex
  flex-wrap: wrap

  .links-all
    margin: 0 0 0 auto

.tabs__caption
  display: flex
  align-items: center
  flex-wrap: wrap

  li
    padding: 5px 0 0
    border-top: 2px solid #B2B2B2
    margin: 0 80px 0 0
    color: #2E2E2E
    font-size: 18px
    text-transform: uppercase
    letter-spacing: 0.18em
    font-weight: bold
    cursor: pointer

    &:last-child
      margin: 0

  .active
    border-width: 5px
    border-color: #E30613

.news-box
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 30px

  img
    width: 100%

.news
  .container
    &:before
      content: ''
      transform: rotate(-0.11deg)
      position: absolute
      width: 171px
      height: 111px
      left: 665px
      top: 0
      background: url("../img/decor.svg") no-repeat center
        size: contain

    &:after
      content: ''
      position: absolute
      top: 132px
      left: -72px
      width: 171px
      height: 111px
      transform: rotate(7.93deg)
      background: url("../img/decor.svg") no-repeat center
        size: contain

    > *
      position: relative
      z-index: 1

.tenants
  margin: 84px 0 70px

  .container
    &:before
      content: ''
      position: absolute
      width: 313px
      height: 205px
      left: 50%
      transform: translate(-50%, 0) rotate(29.09deg)
      top: -100px
      background: url("../img/decor.svg") no-repeat center
        size: 100%

    > *
      position: relative
      z-index: 1

h2
  transform: rotate(0.03deg)
  text-transform: uppercase
  font-weight: bold
  font-size: 18px
  letter-spacing: 0.18em
  color: #2E2E2E
  border-top: 2px solid #E30613
  padding: 5px 0 0

.tenants-box
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid #2E2E2E
  height: 212px
  width: 100%
  max-width: 433px
  background: #FFFFFF
  margin: 0 auto

.w-100
  width: 100%

.tenants-slider
  margin: 55px 0 0

.slick-slider
  padding: 0 43px

.slick-slide
  outline: none

.slick-arrow
  z-index: 1
  width: 43px
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  background: #C4C4C4
  transition: .3s ease

  &:hover
    background: #E30613

  &:before
    display: none

.slick-prev
  left: 0


.slick-next
  right: 0

//.shops
.shops
  margin: 0 0 100px

  .container
    &:before
      content: ''
      transform: rotate(28.4deg)
      position: absolute
      width: 306px
      height: 203px
      left: 55%
      top: -100px
      background: url("../img/decor.svg") no-repeat center
        size: contain

    &:after
      content: ''
      position: absolute
      top: -86px
      left: -95px
      width: 241px
      height: 157px
      transform: rotate(22.25deg)
      background: url("../img/decor.svg") no-repeat center
        size: contain

    > *
      position: relative
      z-index: 1

.shops-box
  max-width: 432px
  width: 100%
  position: relative

.shops-box__img
  border: 1px solid #2E2E2E
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  height: 339px
  background: #FFFFFF
  margin: 0 0 24px
  position: relative

  &:before
    transition: .3s ease
    content: ''
    position: absolute
    left: 0
    top: 0

  &:hover
    .img-overlay
      opacity: 1

    .img-name-shops
      filter: brightness(0) invert(1)

    &:before
      width: 100%
      height: 100%
      background-blend-mode: multiply
      background: rgba(16, 16, 16, 0.49)
      z-index: 1

.img-overlay
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  object-fit: cover
  opacity: 0
  transition: .3s ease

.img-name-shops
  position: relative
  z-index: 2

.shops-box__info
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  color: #2E2E2E
  letter-spacing: 0.18em
  font-size: 18px

.name-shops
  font-weight: bold

.shops-slider
  position: relative

  &:before
    content: ''
    position: absolute
    width: 306px
    height: 203px
    right: -25px
    bottom: -125px
    background: url("../img/decor.svg") no-repeat center
      size: contain

  .slick-arrow
    top: 0
    transform: none
    height: 339px


.callback-section
  background: linear-gradient(265.99deg, #E0E0E0 6.84%, #B2B2B2 86.7%), #C4C4C4
  padding: 93px 0 200px
  color: #ffffff
  .container
    align-items: center
    justify-content: center

.checkbox
  width: 100%
  display: flex
  flex-direction: row
  align-items: center
  letter-spacing: 0.18em
  font-size: 14px
  color: #fff
  transform: rotate(0.03deg)
  label
    display: inline
    width: auto

.checkbox-inp
  display: none

.checkbox-custom
  position: relative
  min-width: 16px
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: middle
  background: #ffffff
  cursor: pointer
  transition: .3s ease
  margin: 0 13px 0 0

.checkbox-inp:checked + .checkbox-custom
  &::before
    content: ""
    display: block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 10px
    height: 7px
    background: url("../img/checkbox.svg") no-repeat center
      size: contain

.form-line
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  label
    width: fit-content

input
  background: #FFFFFF
  box-sizing: border-box
  font-family: $default-font
  height: 43px
  width: 100%
  color: #B2B2B2
  padding: 0 17px
  outline: none
  border: none
    radius: 0
  letter-spacing: 0.18em
  font-size: 18px
  &::placeholder
    color: #B2B2B2
  &:hover, &:focus
    box-shadow: none
    border: none
    outline: none

label
  display: block
  width: 100%
  margin: 0 0 21px

button
  outline: none
  box-sizing: border-box
  padding: 0
  border: none
    radius: 0
  cursor: pointer
  transition: .3s ease

.btn
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 43px
  letter-spacing: 0.18em
  font-size: 18px
  font-weight: bold
  text-transform: uppercase
  transform: matrix(1, 0, 0, 1, 0, 0)

.btn-accent
  color: #fff
  background: #E30613
  &:hover
    background: #2E2E2E

.form
  max-width: 432px
  button
    margin: 8px 0 17px


.callback-section__content
  max-width: 565px
  width: 100%
  font-size: 24px
  font-weight: 500
  letter-spacing: 0.18em
  text-transform: uppercase
  transform: rotate(0.03deg)
  margin: 0 200px 0 0
  h3
    font-size: 36px
    font-weight: bold

.btn-scroll-top
  position: fixed
  bottom: 147px
  right: 50px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  background: #E30613
  width: 75px
  height: 75px
  z-index: 7

//footer
footer
  background: url("../img/footer-bg.svg") no-repeat center bottom
    size: cover
  margin: -130px 0 0
  z-index: 1
  position: relative
  padding: 145px 0 25px
  .container
    align-items: flex-end
  .logo
    margin-right: 87px
  .list-social
    margin: 0 auto
    li
      margin: 0 44px 0 0
      &:last-child
        margin: 0

.menu-footer
  column-count: 3
  li
    margin: 0 0 10px
    &:last-child
      margin: 0
    a
      color: #2E2E2E
      font-size: 18px
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 0.18em
      transform: rotate(0.03deg)

.footer-box-icon
  width: 12px
  height: 12px
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 0 15px
  .icon-svg
    fill: #2E2E2E

.footer-box
  display: flex
  flex-direction: column
  align-items: flex-end
  a, .address-footer
    display: flex
    align-items: center
    color: #2E2E2E
    font-size: 18px
    font-weight: bold
    letter-spacing: 0.18em
    transform: rotate(0.03deg)
    margin: 0 0 10px

  .mail
    margin: 0

@import "media"
// Всегда в конце
